<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12">
                <p class="disclaimer">
                    Please note there are always risks associated with smart-contracts. Please use at your own risk.
                    DogeSnacks is not a registered broker, analyst or investment advisor. Everything that we provide on
                    this site is purely for guidance, informational and educational purposes. All information contained
                    herein should be independently verified and confirmed. We do not accept any liability for any loss
                    or damage whatsoever caused in reliance upon such information or services. When in doubt, you should
                    consult a qualified financial advisor before making any investment decisions. Please be aware of the
                    risks involved with any trading done in any financial market. Do not trade with money that you
                    cannot afford to lose. Do conduct your own due diligence and consult your financial advisor before
                    making any investment decisions. The DogeSnacks team does not recommend that any cryptocurrency
                    should be bought, sold, or held by you. By purchasing Snacks, you agree that you are not purchasing
                    a security or investment and you agree to hold the team harmless and not liable for any losses or
                    taxes you may incur. You also agree that the team is presenting the token “as is” and is not
                    required to provide any support or services. You should have no expectation of any form from
                    DogeSnacks and its team. Although Snacks is an experimental token for social experiment and not a
                    digital currency, the team strongly recommends that United States persons do not purchase it because
                    the team cannot ensure compliance with United states regulations. Always make sure that you are in
                    compliance with your local laws and regulations before you make any purchase.
                </p>
            </div>
        </div>
    </div>
</footer>