<div class="action-loader">
    <div class="action-img-wrap">
        <img src="img/doge-rocket.gif" alt="" />
        <p>Please wait for transaction confirmation. Do not refresh or close the page.</p>
    </div>
</div>

<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.6.0/validator.min.js"></script>
<script src="js/vendor/dragdealer.min.js"></script>

<script type="module" src="js/wallet.js?1"></script>