<!-- Preloader -->
<div class="preloader">
    <div class="preloader-img-wrap">
        <img src="img/doge-rocket.gif" alt="" />
        <p>Loading...</p>
    </div>
</div>
<!-- Mobile Screen -->
<div class="mobile-page">
    <div class="container translate-y" style="top: 50%">
        <div class="row align-items-center">
            <div class="col-12 r-mb-12">
                <h2 style="text-align: center;">For the full experience, <br />visit DogeSnacks.org on Desktop</h2>
            </div>
            <div class="col-12 r-mb-4">
                <a class="doge-btn m-doge-btn start-50 translate-middle"
                    href="https://metamask.app.link/dapp/dogesnacks.org/ido-dogesnacks-0" target="_blank">Get $SNACKS
                    <span class="metamask-logo-btn"></span>| Mobile</a>
            </div>
            <div class="col-12 r-mb-4">
                <a href="https://twitter.com/dogesnacks" class="doge-btn m-doge-btn start-50 translate-middle">Follow on
                    Twitter</a>
            </div>
            <div class="col-12 r-mb-4">
                <a class="doge-btn m-doge-btn start-50 translate-middle" target="_blank"
                    href="https://t.me/dogesnacks">Join Telegram Community</a>
            </div>

        </div>
    </div>
</div>

<header>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="/">
                <span>DogeSnacks</span></a>
            <div class="doge-btn mobile-connect-metamask">Connect Wallet</div>
            <div class="doge-btn mobile-disconnect-metamask">Disconnect</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav dogesnacks-nav">
                    <li class="nav-item">
                        <a class="nav-link doge-btn about-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link doge-btn snacks-link" href="snacks">Snacks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link doge-btn" target="_blank" href="https://twitter.com/dogesnacks">Twitter</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link doge-btn dropdown-toggle" href="javascript:;" id="more-dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">More</a>
                        <ul class="dropdown-menu" aria-labelledby="more-dropdown">
                            <li><a class="dropdown-item help-link" href="help">Help</a></li>
                            <li><a class="dropdown-item roadmap-link" href="roadmap">Roadmap</a></li>
                            <li><a class="dropdown-item" target="_blank" href="https://t.me/dogesnacks">Telegram</a>
                            </li>
                            <li><a class="dropdown-item" target="_blank" href="Litepaper.pdf">Litepaper</a>
                            </li>



                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link doge-btn launchpad-link" href="launchpad">Launchpad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link doge-btn createlisting-link" href="createlisting">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link doge-btn wallet-modal-btn" href="javascript:;" data-bs-toggle="modal"
                            data-bs-target="#wallet-modal">Connect Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link doge-btn disconnect-metamask" href="javascript:;">Disconnect</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>