<!-- Wallet Modal -->
<div class="modal fade" id="wallet-modal" tabindex="-1" aria-labelledby="wallet-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="wallet-container connect-metamask">
                    <div class="wallet-wrap">
                        <div class="wallet-icon">
                            <img src="img/metamask.svg" alt="Metamask - DogeSnacks">
                        </div>
                        <h3>MetaMask</h3>
                        <p>Connect to your MetaMask Wallet</p>
                    </div>
                </div>
                <!--<div class="wallet-container">
                    <div class="wallet-wrap">
                        <div class="wallet-icon">
                            <img src="img/wallet-connect.svg" alt="WalletConnect - DogeSnacks">
                        </div>
                        <h3>WalletConnect</h3>
                        <p>Connect to your WalletConnect Wallet</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>