<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body>
    <%- include('../partials/navigation'); %>
    <main class="main-container">
        <div class="wrap-404">
            <div class="container translate-y" style="top: 50%">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h2 style="text-align: center;">404 - "It seems you're deprived of the taste of something."
                        </h2>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html>