<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body>
    <%- include('../partials/navigation'); %>
    <main class="main-container">
        <div class="wrap-404">
            <div class="container translate-y" style="top: 50%">
                <div class="row align-items-center">
                    <div class="col-12 r-mb-12">
                        <h2 style="text-align: center;">500 - "System error - Something horribly went wrong. Please
                            report to DogeSnacks Team"
                        </h2>
                    </div>
                    <div class="col-12">
                        <a class="doge-btn m-doge-btn start-50 translate-middle" target="_blank"
                            href="https://t.me/dogesnacks">Report on Telegram</a>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html>