<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body>
  <%- include('../partials/navigation'); %>
  <main class="main-container">
    <section class="body-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-12">
            <div class="landing-img">
              <img src="img/about-header-2000.png" alt="Dogesnacks About">
            </div>
            <div class="copy-wrap">
              <h1>DogeSnacks, a launchpad for those 'smaller' projects.</h1>
            </div>
            <p class="copy-txt">
              DogeSnacks is a decentralized and permissionless crowdfunding platform that makes raising capital
              accessible, transparent, fair and above all tasty. The launchpad gives emerging DeFI projects owners the
              power to distribute tokens, raise liquidity, and pledge security to their investors.<br><br>

              Startups enjoy the flexibility to customize the terms of their Initial DEX Offering (IDO). Parameters like
              liquidity locks, sale price, token vesting, etc. can be modified. The DogeSnacks-protocol executes token
              allocation, liquidity pool creation, liquidity locking, and direct listing on Uniswap autonomously.
              Everything ready for public trading. The DogeSnacks IDO-protocol is completely decentralized and projects
              will not need to undergo any form of screening from DogeSnacks, which means investors should conduct their
              due diligence before making any investment decisions. <br><br>

              Successfully launched IDOs contribute a launch fee of 1% of total raised eth or 0.5 eth, whichever is
              higher. This contribution fee is used for acquiring $SNACKS, the community token, from the open market and
              sent to The Golden Tuck Shop, the community vault.
            </p>
          </div>

        </div>
      </div>
    </section>
  </main>
  <%- include('../partials/footertext'); %>
  <%- include('../partials/footer'); %>
</body>

</html>