<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body>
    <%- include('../partials/navigation'); %>
    <main class="main-container">

        <section class="body-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-12">
                        <div class="copy-wrap">
                            <h1>DogeSnacks Help & Protocol Functionalities</h1>
                        </div>

                        <div class="help-wrap">
                            <div class="help-block">
                                <p class="font-med copy-txt">What is an IDO?</p>
                                <p class="copy-txt">
                                    An initial DEX offering, or IDO, is a new and exciting type of decentralized and
                                    permissionless crowdfunding platform, which is opening up a new way of fundraising
                                    in the crypto space. An IDO refers to a project launching a coin or token via a
                                    decentralized liquidity exchange, like Uniswap. This is a type of crypto asset
                                    exchange that depends on liquidity pools where traders can swap tokens, including
                                    crypto coins and stable coins. IDOs are the successor of other crypto fundraising
                                    models, including initial coin offerings (ICOs), security token offerings (STOs),
                                    and initial exchange offerings (IEOs). Offering better and immediate liquidity at
                                    every price level due to its mechanics, IDOs are an excellent choice for new
                                    projects and startups keen to launch a token and access immediate funds. Unlike the
                                    aforementioned fundraising methods, IDOs are generally considered a fair way to
                                    launch a new cryptocurrency project by avoiding pre-mines, which is an issuance
                                    system that favors project founders over community members.<a
                                        href="https://coinmarketcap.com/alexandria/article/what-is-an-initial-dex-offering-ido-and-why-do-we-need-them#toc-what-is-an-initial-dex-offering-"
                                        target="_blank">More information here</a>.
                                </p>
                            </div>
                            <div class="help-block">
                                <p class="font-med copy-txt">How to invest in an IDO?</p>
                                <p class="copy-txt">
                                    Instructions on how to participate in the IDO are <a
                                        href="instructions-on-how-to-buy-tokens.pdf" target="_blank">here</a>.
                                </p>
                            </div>
                            <div class="help-block">
                                <p class="font-med copy-txt">What is Liquidity and why is it important?</p>
                                <p class="copy-txt">
                                    What's a good way to measure the health of a market? You could look at trading
                                    volume, volatility, or other technical indicators. However, there's a crucially
                                    important factor – liquidity. Liquidity is a measure of the ease at which an asset
                                    can be converted to another asset without affecting its price. In simple terms,
                                    liquidity describes how quickly and easily an asset can be bought or sold.
                                    In this sense, good liquidity means that an asset can be quickly and easily bought
                                    or sold without having much effect on its price. If a market is illiquid, it can be
                                    quite difficult to execute trades without causing a significant impact on price. <a
                                        href="https://www.youtube.com/watch?v=cizLhxSKrAc" target="_blank">More
                                        information here</a>.
                                </p>
                            </div>
                            <div class="help-block">
                                <p class="font-med copy-txt">What is Uniswap?</p>
                                <p class="copy-txt">
                                    Uniswap is a protocol for creating liquidity and trading ERC-20 tokens on Ethereum.
                                    It eliminates trusted intermediaries and unnecessary forms of rent extraction,
                                    allowing for fast, efficient trading. Where it makes tradeoffs - decentralization,
                                    censorship resistance and security are prioritized. Uniswap is open-source software
                                    licensed under GPL. <a href="https://uniswap.org/faq/" target="_blank">More
                                        information here</a>.
                                </p>
                            </div>
                            <div class="help-block">
                                <p class="font-med copy-txt">What is the DogeSnacks Liquidity Lock?</p>
                                <p class="copy-txt">
                                    Automated market maker (AMM) platforms like Uniswap, are a central aspect of the
                                    fast-growing decentralized finance (DeFi) ecosystem, and present a novel approach to
                                    trading in general. A key function of automated market maker platforms is the
                                    liquidity provider (LP) token. LP tokens allow AMMs to be non-custodial, meaning
                                    they do not hold on to your tokens, but instead operate via automated functions that
                                    promote decentralization and fairness. You can think of it as a sort of IOU coupon
                                    or a receipt. The DogeSnacks Liquidity Lock allows the IDO Creator to store these LP
                                    tokens in a smart contract, revoking the permission to move these LP tokens from a
                                    starting block (start date) to an end block (end-date). Therefore, investors rest
                                    assured that the LP tokens are safely and securely locked as specified by the IDO
                                    Creator.
                                </p>
                            </div>
                            <div class="help-block">
                                <p class="font-med copy-txt">What is the Roadmap for DogeSnacks?</p>
                                <p class="copy-txt">
                                    Here you will find all the features that we have already planned for the upcoming
                                    quarters of 2021, <a href="https://dogesnacksbeta.webflow.io/roadmap"
                                        target="_blank">DogeSnacks Roadmap</a>.
                                </p>
                            </div>
                            <div class="help-block">
                                <p class="font-med copy-txt">What are the DogeSnacks IDO v1 Protocol Functionalities?
                                </p>
                                <p class="copy-txt font-it">
                                    Automatic Liquidity Locking After IDO
                                </p>
                                <p class="copy-txt">
                                    The DogeSnacks Liquidity Lock allows the IDO creator to store these Liquidity
                                    Provider Tokens, or LPs, in a smart contract, revoking the permission to move these
                                    LPs from a start date (or, more accurately, a start block) to an end date (end
                                    block).<br><br>
                                </p>
                                <p class="copy-txt font-it">
                                    Ether Raised
                                </p>
                                <p class="copy-txt">
                                    Other than the locked liquidity, raised ethereum does not go to the IDO creator
                                    until each investor claims their tokens. Each time an investor claims, that
                                    equivalent ETH goes to the IDO creator's wallet. However, after 50% of the investors
                                    claim their tokens, the IDO creator can claim the total ethereum raised.<br><br>
                                </p>
                                <p class="copy-txt font-it">
                                    Hard cap Reached
                                </p>
                                <p class="copy-txt">
                                    In an open IDO, when the hard cap is reached before the IDO closing time is reached,
                                    the IDO creator has to possibility to execute the Uniswap listing directly.<br><br>
                                </p>
                                <p class="copy-txt font-it">
                                    Less than 1 ETH to Launch
                                </p>
                                <p class="copy-txt">
                                    If the total raised Ether is greater than or equal to hard cap - 1 ETH, then the
                                    IDO Creator has the option to list early and anyone is allowed to deposit ETH
                                    without minimum until the hard cap is hit. For example, if there is 0.35 ETH left to
                                    raise, and the minimum allocation per wallet is set at 0.5 ETH, then anyone can
                                    invest without a minimum allocation.<br><br>
                                </p>
                                <p class="copy-txt font-it">
                                    Initiate Launch
                                </p>
                                <p class="copy-txt">
                                    If an IDO closes and listing time is reached, the IDO Creator or any investor can
                                    initiate the Uniswap Listing Creation by clicking the 'Initiate Launch' button on
                                    the IDO.<br><br>
                                </p>
                                <p class="copy-txt font-it">
                                    DogeSnacks Guarantee
                                </p>
                                <p class="copy-txt">
                                    The platform guarantees either a listing or a refund for all investors.<br><br>
                                </p>
                                <p class="copy-txt font-it">
                                    IDO Refunds
                                </p>
                                <p class="copy-txt">
                                    All investors are refunded if an IDO is canceled or the soft cap is not
                                    reached.<br><br>
                                </p>
                                <p class="copy-txt font-it">
                                    Successful Launch Fees
                                </p>
                                <p class="copy-txt">
                                    All successful IDO projects launched contribute a launch fee of 1% of the total
                                    raised eth or 0.5 eth, whichever is higher, and is used for restocking the Golden
                                    Tuck Shop with $SNACKS from the open market.<br><br>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <%- include('../partials/footertext'); %>
    <%- include('../partials/footer'); %>
</body>

</html>