<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body>
  <%- include('../partials/navigation'); %>
  <main class="main-container">
    <section class="chart-section">
      <div class="chart-bg-wrap">
        <div class="chart-bg"></div>
      </div>
      <div id="chart-price"></div>
      <h1 class="doge-market-chart">$DOGE</h1>
    </section>
  </main>
  <script src="js/vendor/apexcharts.min.js"></script>
  <%- include('../partials/footer'); %>
  <script src="js/chart.js"></script>
</body>



</html>