<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body>
    <%- include('../partials/navigation'); %>
    <main class="main-container">

        <section class="body-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-12">
                        <div class="copy-wrap">
                            <h1>DogeSnacks Roadmap</h1>
                        </div>
                        <p class="copy-txt">
                            Please note that this roadmap can be adjusted as we continue with more
                            experimentation. Follow <a target="_blank" href="https://twitter.com/dogesnacks">DogeSnacks
                                on Twitter</a> for more announcements.
                        </p>
                        <div class="roadmap-wrap">
                            <p class="font-med">2021 - Q2</p>
                            <ul class="roadmap-list">
                                <li class="tick">DogeSnacks Concept & Design</li>
                                <li class="tick">IDO Factory Smart Contract Design</li>
                                <li class="tick">IDO Investments Smart Contract Design</li>
                                <li class="tick">$SNACKS Token Creation</li>
                                <li class="tick">Golden Tuck Shop Community Vault Creation</li>
                                <li class="tick">Testnet Launch</li>
                                <li class="tick">Internal Protocol Auditing</li>

                            </ul>
                            <p class="font-med">2021 - Q3</p>
                            <ul class="roadmap-list">
                                <li class="tick">Mainnet Launch</li>
                                <li class="tick">Website Launch</li>
                                <li class="tick">$SNACKS IDO on DogeSnacks</li>
                                <li class="tick">Releasing Snacks on Graph</li>
                                
                            </ul>
                            <p class="font-med">2022 / 2023</p>
                            <ul class="roadmap-list">
                                <li>Listings on Coingecko, Blockfolio, Delta & More</li>
                                <li>External Protocol Auditing</li>
                                <li>IDO Creator Simplifier</li>
                                <li>IDO Help Guides</li>
                                <li>DogeSnacks v2 & Security Audits</li>
                                <li>Uniswap v3 Deployment</li>
                                <li>Multi-Chain Release (Binance Smart Chain)</li>
                                <li>New DogeSnacks World</li>
                                <li>Multi-Chain Release (Matic)</li>
                                <li>Golden Tuck Shop Autonomous Trading Protocol</li>
                                <li>BotPlug (DogeSnacks IDO Bot Stopper)</li>
                                <li>New DogeSnacks World</li>
                                <li>Partnerships Rollout</li>
                                <li>DogeSnacks Governance Feature Rollout</li>
                                <li>Community Growth</li>
                                <li>And more...</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <%- include('../partials/footertext'); %>
    <%- include('../partials/footer'); %>
</body>

</html>