<!doctype html>
<html lang="en">

<%- include('../partials/header'); %>

<body>
    <%- include('../partials/navigation'); %>
    <main class="main-container">

        <section class="body-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-12">
                        <div class="copy-wrap">
                            <h1>$SNACKS, the community token for DogeSnacks.</h1>
                        </div>
                        <div class="landing-img">
                            <img src="img/snacks-header.png" alt="Dogesnacks Snacks">
                        </div>

                        <p class="copy-txt">
                            $SNACKS is the community token for the DogeSnacks IDO Protocol, a decentralized crowdfunding
                            transaction protocol, with an innovative deflationary mechanism that includes a
                            redistribution and burning system that rewards all its holders. With only 420 million
                            $SNACKS in existence, a couple of yummy snacks is all you need to hodl for that sugary sweet
                            accrued value. DogeSnacks has undoubtedly a delicious and exciting roadmap. While achieving
                            these goals and milestones, and staying flexible and adaptive to community suggestions,
                            DogeSnacks is focused on becoming the most flavored decentralized multi-chain IDO launchpad.

                        </p>
                    </div>

                </div>
            </div>
        </section>

        <section class="body-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-12">
                        <div class="copy-wrap">
                            <h1>The Golden Tuck Shop.</h1>
                        </div>
                        <p class="copy-txt">
                            Floating on a scrumptious pasture among the clouds, where tranquility and gustatory cells
                            meet, there you will find the community vault named The Golden Tuck Shop. The sole purpose
                            of this vault is to serve, reward, and safeguard the fellowship of $SNACKS. Restocking the
                            Golden Tuck Shop with $SNACKS is fulfilled through two protocols. First, all successfully
                            launched IDOs contribute a launch fee for acquiring $SNACKS on Uniswap and are sent to the
                            Golden Tuck Shop. Second, with every transaction made in $SNACKS, a 5% contribution gets
                            transferred to the Golden Tuck Shop.
                        </p>
                        <div class="section-header-img">
                            <img src="img/golden-tuck-shop.png" alt="Golden Tuck Shop Image">
                        </div>
                        <div class="table-wrap">
                            <table class="table snacks-table golden-tuck-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            Current $SNACKS Holdings
                                        </td>
                                        <td class="gts-balance-value">0</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>


                    </div>

                </div>
            </div>
        </section>

        <section class="body-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-12">
                        <div class="copy-wrap">
                            <h1>Snacks at The Golden Tuck Shop.</h1>
                        </div>
                        <p class="copy-txt">
                            The Golden Tuck Shop rewards holders through a delectable deflationary mechanism, which
                            includes redistribution and burning. Depending on the type of snack that gets eaten, a
                            specific event is triggered by the Golden Tuck Shop.
                        </p>
                        <div class="table-wrap">
                            <table class="table snacks-table">
                                <thead>
                                    <tr>
                                        <th scope="col">DogeSnacks</th>
                                        <th scope="col">Golden Tuck Shop Event</th>
                                        <th scope="col">$SNACKS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/0.png" alt="">
                                            <span>Ice Cream</span>
                                        </td>
                                        <td>30% of $SNACKS to all Hodlers</td>
                                        <td class="icecream-value">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/1.png" alt="">
                                            <span>Fries</span>
                                        </td>
                                        <td>10% of $SNACKS to all Hodlers</td>
                                        <td class="fries-value">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/2.png" alt="">
                                            <span>Apple</span>
                                        </td>
                                        <td>8% of $SNACKS gets Burnt</td>
                                        <td class="apple-value">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/3.png" alt="">
                                            <span>Donut</span>
                                        </td>
                                        <td>7% of $SNACKS gets Burnt</td>
                                        <td class="donut-value">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/4.png" alt="">
                                            <span>Cupcake</span>
                                        </td>
                                        <td>5% of $SNACKS gets Burnt</td>
                                        <td class="cupcake-value">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/5.png" alt="">
                                            <span>Hotdog</span>
                                        </td>
                                        <td>4% of $SNACKS gets Burnt</td>
                                        <td class="hotdog-value">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/6.png" alt="">
                                            <span>Waffle</span>
                                        </td>
                                        <td>3% of $SNACKS towards Development Fund</td>
                                        <td class="waffle-value">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/snacks/7.png" alt="">
                                            <span>Pizza</span>
                                        </td>
                                        <td>2% of $SNACKS towards Marketing Fund</td>
                                        <td class="pizza-value">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>

                </div>
            </div>
        </section>

        <section class="body-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-12">
                        <div class="copy-wrap">
                            <h1>Snacks are consumed depending on the $DOGE chart.</h1>
                        </div>
                        <p class="copy-txt">
                            Every 24-hours, snacks are randomly generated and placed on the $Doge Market Chart, which is
                            found on the DogeSnacks landing page. The goal is for Doge, the little dog in the
                            spacecraft, to eat the snacks on the chart, triggering a specific event within The Golden
                            Tuck Shop. Navigating the spaceship is dependent on the $DOGE cryptocurrency price; if the
                            market price of $DOGE goes up or down, so does Doge in the spacecraft.
                        </p>
                        <div class="section-header-img">
                            <img src="img/how-snacks.png" alt="How DogeSnacks are consumed">
                        </div>


                    </div>

                </div>
            </div>
        </section>

    </main>
    <%- include('../partials/footertext'); %>
    <%- include('../partials/footer'); %>

    <script>
        window.gts_balance = 42000000;
        if (gts_balance) {
            let gts_balance_decimal = add_comma_format(gts_balance);
            $(".gts-balance-value").text(gts_balance_decimal);

            let icecream_value = add_comma_format((0.3 * gts_balance).toFixed(0));
            $(".icecream-value").text(icecream_value);

            let fries_value = add_comma_format((0.1 * gts_balance).toFixed(0));
            $(".fries-value").text(fries_value);

            let apple_value = add_comma_format((0.08 * gts_balance).toFixed(0));
            $(".apple-value").text(apple_value);

            let donut_value = add_comma_format((0.07 * gts_balance).toFixed(0));
            $(".donut-value").text(donut_value);

            let cupcake_value = add_comma_format((0.05 * gts_balance).toFixed(0));
            $(".cupcake-value").text(cupcake_value);

            let hotdog_value = add_comma_format((0.04 * gts_balance).toFixed(0));
            $(".hotdog-value").text(hotdog_value);

            let waffle_value = add_comma_format((0.03 * gts_balance).toFixed(0));
            $(".waffle-value").text(waffle_value);

            let pizza_value = add_comma_format((0.02 * gts_balance).toFixed(0));
            $(".pizza-value").text(pizza_value);
        }

    </script>
</body>

</html>