<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Snacks History - DogeSnacks</title>
    <meta name="description" content="">    
    <meta name="author" content="">
    <meta property="og:image" content=""/>  
    <meta property="og:title" content=""/>  
    <meta property="og:description" content="">
    
    <%- include('../partials/header'); %>
  </head>
  <body>
    <%- include('../partials/site-header'); %>
    
    <main class="main-container">
      <section class="body-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-12">
              <div class="copy-wrap">
                <h1>SnacksHistory</h1>
              </div>
              <p class="copy-txt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus sem eget nibh condimentum pharetra. Sed ultricies scelerisque ipsum, ac fermentum ex dapibus quis. Nam vitae pretium dui, vitae congue mauris. Sed elementum fringilla elit, ut maximus nunc semper at.
              </p>
             <div class="table-wrap">
               <table class="table snacks-table">
                  <thead>
                    <tr>
                      <th scope="col">Consumed Snack</th>
                      <th scope="col">When Consumed</th>
                      <th scope="col">$SNACKS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img src="img/snacks/c-0.png" alt="">
                        <span>Ice Cream</span>
                      </td>
                      <td>16:58 Wednesday, 26 May 2021</td>
                      <td>15,641.7</td>
                    </tr>
                    <tr>
                      <td>
                        <img src="img/snacks/c-1.png" alt="">
                        <span>Fries</span>
                      </td>
                      <td>16:58 Wednesday, 26 May 2021</td>
                      <td>15,641.7</td>
                    </tr>
                    <tr>
                      <td>
                        <img src="img/snacks/c-2.png" alt="">
                        <span>Apple</span>
                      </td>
                      <td>16:58 Wednesday, 26 May 2021</td>
                      <td>15,641.7</td>
                    </tr>
                    
                  </tbody>
                </table>
             </div>
              
              
            </div>

          </div>
        </div>
      </section>

     
      
    </main>
    <%- include('../partials/site-footer'); %>
    <%- include('../partials/footer'); %>
    
  </body>
</html>